.exbold
{
     border-style: solid;
    border-width: 3px;
    background-color:#0099ff;

}
 .lowbold
 {
    border-style:solid;
    border-width: medium;
    background-color:#0099ff;
    }
.nobold
{
    border-width: 1px
    border-style: solid;
    background-color:#0099ff;
}